<!doctype html>
<title>Dummy App</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body class="{{ color }}">
  <section class="content">
    <header>
      <h1>Release Engineering Dummy App</h1>
    </header>
    <p>Hello NRAO!</p>
    <ul>
      <li><strong>Version:</strong> {{ version }}</li>
      <li><strong>App baseUrl:</strong> {{ base_url }}</li>
      <li><strong>SAMPLE_VAR:</strong> {{ sample_var }}</li>
      <li><strong>COLOR:</strong> {{ color }}</li>
    </ul>
  </section>
</body>
